---
- hosts: 127.0.0.1
  roles:
    - role: collivier.xtesting
      docker_tags:
        - kali:
            branch: stable/kali
      builds:
        dependencies:
          - repo: _
            dport:
            container: alpine
            tag: '3.11'
        steps:
          - name: opnfv/xtesting
            containers:
              - name: xtesting
                ref_arg: BRANCH
                path: docker
      suites:
        - container: xtesting
          tests:
            - first
            - second
            - third
            - fourth
            - fifth
            - sixth
